# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Flask env file
.flaskenv

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Environment files
.env
